@{
    ViewBag.Title = "Chat";
}

<link href="https://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet" />
<link href="~/Public/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Public/lib/toastr/toastr.min.css" rel="stylesheet" />

<div class="container">

    <form>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="txtName" class="form-control" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="number" name="txtAge" class="form-control" />
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <button id="btnDelete" class="btn btn-primary pull-right" type="button"><i class="glyphicon glyphicon-trash"></i></button>
                <button id="btnUpdate" class="btn btn-primary pull-right" type="button"><i class="glyphicon glyphicon-edit"></i></button>
                <button id="btnInsert" class="btn btn-primary pull-right" type="button"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
    </form>
    <hr />
    <table id="tblPeople"></table>
</div>

<script src="~/Public/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Public/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Public/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script src="~/Public/lib/toastr/toastr.min.js"></script>
<script src="~/Public/js/main.js"></script>